body{
    width: 100%;
    margin: 0 auto;
    background: #dfdfdf;
}
main, footer{
    width: 80%;
    margin: 0 auto;
}
main h1, main h2, main, footer{
    text-align: center;
}
 main h2{
    margin-top: 20px;
    font-size: 2.5em;
}
main .row  div[class^="col-"] .list-container{
    background: #ffffff;
}
main .row div[class^="col-"] .list-container h3{
    text-align:center;
    text-decoration:underline;
}

nav ul{
    text-align: right;
    background: #000;
    width: 100%;
    position: fixed;
    z-index:999;
    padding-bottom: 10px;
    padding-top: 10px

}
 nav ul li:last-child{
   padding-right: 10px;
 }

nav ul li:hover{
    text-decoration: underline;
}

.skills-style{
    font-size: 1.5em;
}

.main-bar{
    position:fixed;
    top: 0;
}

header h2{
    text-align: left;
    background-color: #fff;
    color: rgba(0,0,0,0.3);
    font-style: italic;
}
 section p{
    font-size: 20px;
    text-align:left;
}

#profile-pic{
    width: 200px;
    height: 200px;
    clip-path: circle(90px at center);
}

#email-contact{
    display: block;
    padding-top: 20px;
    font-size: 2em;
}
